body{
    background-color: black;
}
.moon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f0f8ff;
    margin-left: 1300px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.roof{
    width: 0;
	height: 0;
    margin-left: 500px;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 300px solid rgb(199, 107, 107);
}
.cheminey{
    height: 100px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 130px;
    background-color: rgb(199, 107, 107);
}
.housebody{
    height: 300px;
    width: 300px;
    margin-left: 600px;
    background-color: rgba(255, 228, 196, 0.795);
    display: flex;
    flex-direction: row;
}
.window{
    height: 80px;
    width: 60px;
    position: relative;
    left: 50px;
    top: 30px;
    background-color: black;
}
.window2{
    height: 80px;
    width: 60px;
    position: relative;
    left: 130px;
    top: 30px;
    background-color: black;
}
.door{
    height: 100px;
    width: 75px;
    background-color: black;
    position: relative;
    top: 200px;
    right: 8px;
}
